# Group 5 project for QF625-G1 Introduction to Programming

In [2]:
import pandas as pd

## Object

We'd like to 

> 1. Explore the key to the Premier Leaague title
> 2. Find what contributes most to a goal in the Premier League

## Data

> The data was derived from https://www.kaggle.com/zaeemnalla/premier-league about all the detailed statistical data of every football club from season 2006/2007 to season 2017/2018.

In [3]:
url = "https://raw.githubusercontent.com/KavenWu/QF625-Group5Project/master/stats.csv"
data = pd.read_csv(url)
data.head()

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,...,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007
1,Chelsea,24.0,3.0,64.0,62.0,4.0,636.0,216.0,14.0,16.0,...,897.0,231.0,24010.0,NaN,2.0,NaN,1.0,74.0,22.0,2006-2007
2,Liverpool,20.0,10.0,57.0,44.0,0.0,668.0,214.0,15.0,8.0,...,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0,2006-2007
3,Arsenal,19.0,8.0,63.0,59.0,3.0,638.0,226.0,19.0,10.0,...,873.0,278.0,25592.0,NaN,1.0,NaN,0.0,88.0,27.0,2006-2007
4,Tottenham Hotspur,17.0,12.0,57.0,48.0,3.0,520.0,184.0,6.0,5.0,...,796.0,181.0,22200.0,NaN,2.0,NaN,0.0,51.0,24.0,2006-2007

## Analyzing Process and Method

>We will first pick a specific team such as Arsenal FC., using data visualizaion to show its performance in these seasons and illustrate what parameters we have.

>Then we will classify the all 20 teams into several groups according to their performance in every season and then apply a classification tree on it.

>Besides, to analyze what contributes to scoring a goal, we will apply a regression model and see what we can get.

## Feasibility Analysis

As shown above, the data here is abundant for a test group to verify our findings so the conclusion we will draw may be some sort robust.